header{
	display: flex;
	background-color: white;
	margin: 20px;
	padding: 20px;
	border-radius: 20px;
	position: sticky;
	top: 0;
	left: 0;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	justify-content: space-between;
	align-items: center;
}

header .user{
	display: flex;
	align-items: center;
	gap: 20px;
}

header .user .img{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 20px;
}

header .user .img img{
	height: 100%;
}

header a{
	text-decoration: none;
	color: black;
	font-size: 2.5rem;
}